img {
	margin: 50px;
	padding-bottom: 50px;
}
.container .pict {
	float:left;
}

.container .text h2{
	text-align:left;
	padding-top: 50px;
}
h2 {
	text-align:center;
	padding-left: 100px;
}
p {
	margin-left: 100px;
	margin-right: 100px;
}
nav{
	font-family: 'Quicksand', sans-serif;
}
.text {
	font-family: 'Pontano Sans', sans-serif;
}
#vsco {
	padding-bottom: 5px;
	padding-right: 5px;
	margin: 0px;
}
#instagram {
	padding-bottom: 4px;
	padding-right: 4px;
	margin: 0px;
}
