img {
	margin: 50px;
	padding-bottom: 110px;
}
.container .pict {
	float:left;
}

.container .text h2{
	text-align:left;
	padding-top: 50px;
}
h2 {
	text-align:center;
	padding-left: 100px;
}
p {
	margin-left: 100px;
	margin-right: 100px;
}
nav{
	font-family: 'Quicksand', sans-serif;
}
.text {
	font-family: 'Pontano Sans', sans-serif;
}