body {
  font-family: 'Fanwood Text', serif;
}
hr{
  margin-top: 60px; 
  margin-bottom: 60px; 
}

img {
  pointer-events: none;
  -webkit-user-drag: none;
}

.main{
  display: grid;
  grid-template-columns: 33% 33% 33%;

  opacity: 0;

  transition: 0.8s linear;
  -webkit-transition: 0.8s linear;
  -moz-transition: 0.8s linear;
}

@media only screen and (max-width: 1024px) {
  .main {
    grid-template-columns: 50% 50%;
  }
}
@media only screen and (max-width: 425px) {
  .main {
    grid-template-columns: 100%;
  }
}

.project {
  margin: 10px;
}

.main h1 {
  font-size: 1.5em;
}
.main h3 {
  font-size: 1.2em;
}
.main h5 {
  font-size: 1.0em;
}

.link{
  color: rgb(33,37,41);
}
.link:hover{
  text-decoration: none;
}
.header:hover{
  color: rgb(33,37,41);
  opacity: 0.7;
}
.foodgoHeader:hover{
  color: rgb(33,37,41);
  opacity: 0.7;
}
.footer{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.header{
  text-align: center;
  margin-top: 30px;
}
.foodgoHeader{
  text-align: center;
  margin-top: 30px;
}

/*Glorify Image*/
.item{
  overflow: hidden;
  margin: 20px;
  border: solid rgba(0, 0, 0, .05);
}
.item .pic{
  max-width: 100%;
  height: auto;  

  -moz-transition: opacity 500ms ease-in,
              transform 0.2s !important;
  -webkit-transition: opacity 500ms ease-in,
              transform 0.2s !important;
  transition: opacity 500ms ease-in,
              transform 0.2s !important;
}

.item:hover .pic{
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

/*linkedin*/
#linkedin{
  opacity: 0.5;
}
#linkedin:hover{
  opacity: 0.9;
}

/*instagram*/
#instagram{
  opacity: 0.5;
}
#instagram:hover{
  opacity: 0.9;
}

/*unsplash*/
#unsplash{
  opacity: 0.5;
}
#unsplash:hover{
  opacity: 0.9;
}



/*Navbar modify color*/
.navbar {
  background-color: #FFF !important;
}
.navbar-toggler {
  border-color: #FFF !important;
  outline: none !important;
}



/*Spinner css by Tobias Ahlin*/
.spinner {
  width: 40px;
  height: 40px;
  margin-left: 50vw;
  margin-top: 40vh;

  position: relative;
  /* margin: 100px auto; */
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

