body {
	margin-left: auto;
	margin-right: auto;
	background: url("webCover.jpg");
	background-size: cover;
	background-position: 50% center;
	font-family: 'Quicksand', sans-serif;
}
html {
	height: 100%;
}
#main {
	text-align: center;
	padding-top: 30%;
	font-weight:500;
	color: #000000;
}
h1 {
	font-size:50px;
	font-weight:500;
}
hr {
	width: 50%;
	border-top: 0.5px solid;
	color: #5e5e5e;
}
nav {

}